

<div class="title bg-light px-1 py-2">
    <h2 class="blog-header"> Hello
        {{#each blogPost}}
    </div>

<div class="content mt-2 bg-light px-1 py-2">
    <h3>{{title}}</h3>
    <p>
    {{content}}
    </p>
    {{/each}}
</div>

<script src="/js/newpost.js"></script>