<div class="title bg-light px-1 py-2">
    <h2 class="blog-header">
    {{title}} by {{blogPost.author_id}}
    </h2>
    </div>

<div class="content mt-2 bg-light px-1 py-2">
    <p>
    {{blogPost.content}}
    </p>
</div>