<div class="content mt-2 bg-light px-1 py-2">
    <h3>{{blogPost.title}}</h3>
    <p>
    {{blogPost.content}}
    </p>

    <p>
    {{#each blogPost.comments}}
    <p>
        {{content}}
    </p>
    {{/each}}
    </p>

    <button type="button" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-danger">Delete</button>

</div>

<div class="mb-3">
    <h3>Add a Comment:</h3>
  <label for="exampleFormControlInput1" class="form-label">Username:</label>
  <input type="text" class="form-control" id="comment-user">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Comment:</label>
  <textarea class="form-control" id="comment-text" rows="3"></textarea>
</div>

<button type="button" class="btn btn-primary" id="submit-comment">Submit</button>

<script src = "/js/post.js"></script>
<script src = "/js/comments.js"></script>