<div class="title bg-light px-1 py-2">
    <h2 class="blog-header"> Hello
    </div>

<div class="content mt-2 bg-light px-1 py-2">
    <h3>{{blogPost.title}}</h3>
    <p>
    {{blogPost.content}}
    {{#each comments.content}}{{/each}}
    </p>

</div>