<div class="title bg-light px-1 py-2">
    <h2>
    {{post.title}} by {{post.author_id}}
    </h2>
    </div>

<div class="content mt-2 bg-light px-1 py-2">
    <p>
    {{post.content}}
    </p>
</div>